.Signup-Login-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.Signup-Container {
  width:25%;
}
.Login-Container {
  width:25%;

}
.Separator{
  position: absolute;
  left:49.8vw;
  top:50px;
  bottom: 250px;
  border-left:1px solid rgba(34,36,38,.15);
  width: 1px;
}

.Label-Style = {
  textAlign: 'left';
};
